.lectureCard {
    display: grid;
    grid-template-columns: 100px auto auto;
    .course, .date{
        color: #707070;;
        font-size: large;
        font-weight: bold;
    }
    .name{
        color: #707070;;
        font-size: large;
    }
    .date{
        justify-self: end;
    }
}
