<div class="page">
    <div class="container">
        <div class="titleBox">
            <span class="title">{{ name }}</span>
        </div>
        <div class="content">
            <mat-card class="video">
                <app-webcam-capturer
                    [width] = "200"
                    (image) = "sendPicture($event)"
                >
                </app-webcam-capturer
                >
            </mat-card>
            <mat-card class="chat">
    
            </mat-card>
        </div>
    </div>  
</div>
