.page {
    flex: 1;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.titleBox{
    padding-bottom: 20px;
    .title {
        font-size: 26px;
        font-weight: 500;
        color: #707070;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cards {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(auto, 70%) minmax(auto, 30%);
    grid-gap: 30px;

    &.professor {
        grid-template-columns: minmax(auto, 100%);
    }
}

.video-student {
    box-shadow: none;
    border: rgba(0, 0, 0, .125) solid 1px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .lecture-video {
        max-width: 100%;
    }
}

.video-professor {
    box-shadow: none;
    border: rgba(0, 0, 0, .125) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .graph {
        height: 7.5vh;
    }

    .lecture-video {
        height: 40vh;
        width: 50%;
    }
}

.lecture-top {
    display: flex;
    justify-content: space-between;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: rgba(0, 0, 0, .125) solid 1px;
    padding: 16px 0 0;

    .chat-content {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        height: 0;
    }

    .chat-history {
        overflow-y: scroll;
        height: 95%;
        padding: 0 16px;
        margin-right: 8px;

        .chat-user {
            font-weight: bold;
            color: rgba(0, 0, 0, .75);
        }

        .chat-text {
            color: rgba(0, 0, 0, .625);
        }
    }

    .chat-divider {
        border-top: rgba(0, 0, 0, .125) solid 1px;
        margin-top: 16px;
    }

    .chat-box {
        flex: 1;
        display: flex;

        textarea {
            resize: none;
        }

        mat-form-field {
            flex: 1;

            ::ng-deep .mat-form-field-wrapper {
                margin: 0;
                padding: 0;
                height: 100%;
            }

            ::ng-deep .mat-form-field-outline {
                color: transparent;

                :hover {
                    color: transparent;
                }
            }
        }

        button {
            border-radius: 0 0 4px 0;
        }
    }

    .chat-history::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .0625);
    }

    .chat-history::-webkit-scrollbar
    {
        border-radius: 10px;
        width: 8px;
        background-color: rgba(0, 0, 0, .0625);
    }

    .chat-history::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .125);
        border: 2px solid transparent;
    }

    textarea::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .0625);
    }

    textarea::-webkit-scrollbar
    {
        border-radius: 10px;
        width: 8px;
        background-color: rgba(0, 0, 0, .0625);
    }

    textarea::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .125);
        border: 2px solid transparent;
    }
}

app-webcam-capturer {
    position: absolute;
    top: 0;
    right: 0;
}
