<div class="page">
    <div class="container">
        <div class="titleBox">
            <span class="title"> Lecture {{ lectureNumber }} - {{ lectureTitle }}</span>
        </div>
        <div class="content">
            <mat-card class="video">
                <app-webcam-capturer
                    [width] = "200"
                    (image) = "sendPicture($event)"
                >

                </app-webcam-capturer
                >
            </mat-card>
            <mat-card class="chat">
                <div *ngFor="let chat of chats">
                    <b>{{ chat.user }}:</b> {{ chat.text }}
                </div>
                <mat-form-field appearance="outline">
                    <textarea matInput [(ngModel)]="text" placeholder="Hello..."></textarea>
                </mat-form-field>
                <button mat-button color="primary" (click)="sendChat(text)">Send</button>
            </mat-card>
        </div>
    </div>  
</div>
