mat-toolbar {
    flex-direction: row;
    overflow: hidden;
    mat-toolbar-row {
        width: auto !important;
    }
}

.icon {
    font-size: 30px;
    margin-top: 10px;
}

.home {
    .home-link {
        color: white;
        font-weight: bold;
        margin-left: 2vw;
        text-decoration: none;
      }
}

.breadcrumb {
    height: 112%;
    width: 4px;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(22.5deg);
    margin-right: 32px;
}
