<mat-toolbar color="primary" class="mat-elevation-z2">

    <mat-toolbar-row class="top-toolbar">
      <div>
        <mat-icon class="icon">menu</mat-icon>
      </div>
      <div class="home">
        <a routerLink="/"  class="home-link"> {{ appName }} </a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showClass">
        <div class="breadcrumb"></div>
        <span> {{ className ? className + ' - ' + classDescription : ' ' }} </span>
    </mat-toolbar-row>
    
  </mat-toolbar>
