<mat-toolbar color="primary" class="mat-elevation-z2">

    <mat-toolbar-row class="top-toolbar">
      <div>
        <mat-icon class="icon">menu</mat-icon>
      </div>
      <div class="home">
        <a routerLink="/"  class="home-link"> {{ appName | uppercase }} </a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="data.showClass">
        <div class="breadcrumb"></div>
        <span [routerLink]="['class', data.currentClassId]"> {{ data.currentClass }} </span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="data.showLecture">
      <div class="breadcrumb"></div>
      <span>{{ data.currentLecture }}</span>
  </mat-toolbar-row>
    
  </mat-toolbar>
